*,*:active  {
	outline: none;
}
::-webkit-scrollbar {
  width: 4px;
  height: 3px;
  background-color:transparent;
}
::-webkit-scrollbar-thumb{
  background-color:#555;
}
body {
  width: 100%;
  height: 100%;
  line-height: 1.3;
  padding: 0;
  margin: 0 !important;
  scroll-behavior: smooth; 
  font-family:Quest, helvetica, sans-serif, arial;
 }
 .bg-blue {
  background-color: blue;
 }
 .pd-10 {
  padding: 10px 20px;
  border-radius: 30px;
  /* display: inline-block; */
  /* margin-top: 3px; */
 }
 nav {
  width: 100%;
  height: 80px;
  position: fixed;
  background-color:transparent;
 }
 .b-shadow {
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
 }
 .color-code-1 {
  color:#FF9C33;
 }
 .bg-color-code-1 {
  background-color: #FF9C33;
 }

 .bg-color-code-2 {
  background-color: #ff9c3341;
 }
 .bd-unset {
  border: unset !important;
 }
 .bg-faded {
  background-color:#f3f3f3;
 }
 .input {
  width: 100%;
  display: inline-block;
  background-color: #f3f3f3;
  height: 30px;
  color: black !important;
  font-weight: bold;
  border: solid 1px transparent;
  text-indent: 10px;
  font-family:monR;
  padding: 0;
 }
 .input:focus {
  transition: .3s ease-in-out;
  border: solid 1px #FF9C33;
 }
 .modifys-input {
  border: unset !important;
  text-indent: unset !important;
  background-color: white !important;
  height: 20px !important;
  /* border-bottom: solid 1px rgba(0, 0, 0, 0.034) !important; */
 }
 .submit-btn {
  display: inline-flex;
  border: unset;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: monR;
  color: white;
  width: 100% !important;
  cursor: pointer;
  height: 40px;
  font-size: 14px;
 }
 .my-btn-sm {
  padding: 10px 20px;
  cursor: pointer;
 }
 .white {
  color:white !important;
 }
 .my-toast {
  display: inline-flex;
  top: 0;
  right: 0;
  position: fixed;
  margin-top: 20px;
  margin-right:20px;
  border-radius: 10px;
  font-size: 13px !important;
  width:400px;
  z-index: 100633237;
  cursor:not-allowed;
  padding: 10px;
  transform: translateY(-150px);
  background-color:#ff9c33c9;
  /* box-shadow: 0px 2px 16px #f8f8f8; */
  color:white;
  justify-content: center;
  
  /* align-items:center; */
 }
 @keyframes showtoast {
  from {
    transform: translateY(-150px);
  } to {
    transform: translateY(0px);
  }
 }
 @keyframes hidetoast {
  from {
    transform: translateY(0px);
  } to {
    transform: translateY(-150px);
  }
 }
 .showtoast {
  animation: showtoast .5s 1 ease-in-out forwards !important;
 }
 .hidetoast {
  animation: hidetoast .5s 1 ease-in-out forwards !important;
 }
 .c-pannel-nav {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 10;
  display:inline-flex;
  background-color: transparent;
  /* color: white !important; */
  /* border-bottom: 1px solid #55555515; */
  display: block;
  /* display: none; */
 }
 .profile-pics {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color:#f3f3f3;
 }
 .rad-10 {
  border-radius: 10px !important;
 }
 .profile-pics-1 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color:#f3f3f3;
 }
 .my-container {
  width: 94%;
  margin-left: 3%;
  position: relative;
  float: left;
 }
 .info-card {
  width: 94%;
  margin-left: 3%;
  position: relative;
  padding: 30px;
  float: left;
  border-radius: 5px;
 }
 .info-card-cat {
  width: 100%;
  position: relative;
  float: left;
  height: 100px;
  
  border-radius: 5px;
 }
 .faded {
  color: #555 !important;
 }
 .side-bar {
  position: fixed !important;
  height: 100vh;
  overflow: scroll;
  padding-bottom: 10px;
  /* width: 19% !important; */
  background-color: #000;
 }
 .side-bar-links {
  width: 90%;
  height: 40px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding-left: 10px;
  padding-bottom: unset !important;
  border-bottom: solid 1px transparent;
  /* margin-top: 15px; */
 }
 .side-bar-links .icons {
  color: #FF9C33;
 }
 .side-bar-links:hover {
  background-color:#ff9c3353;
  color: white;
  /* border-bottom: solid 1px #eee; */
  transition: .3s ease-in-out;
 }
 .side-bar-links:hover .icons {
  /* color: white; */
  transition: .3s ease-in-out;
 }
 .red {
  color:red;
 }
 .green {
  color: rgba(0, 255, 68, 0.876);
 }

@keyframes skeletonss {
  0% {
   transform: translateX(-100px);
  } 100% {
   transform: translateX(100vw);
  }
}
.load-shine {
 width:60px;
 height: 100%;
 display: inline-block;
 background:linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
 /* background-color: #fff; */
 /* border-radius: 5px; */
 /* background-size:cover; */
 animation: skeletonss 2s infinite linear;
}

.my-loaders {
  width: 170px;
  height: 100px;
  position: relative;
  float: left;
  border-radius: 5px;
  overflow: hidden;
  background-color:#b4acac82;
 }
 .table-header-loader {
  height: 20px !important;
  background-color: #b4acac82;
  margin-top: 10px;
  border-radius: unset;
 }
 .table-body-loader {
  height: 10px !important;
  background-color: #b4acac82;
  margin-top: 10px;
  border-radius: unset;
 }
 .faded-2 {
  color: #55555576;
 }
 .bg-faded-1 {
  background-color: #5555551d;
 }
 .add-item-modal {
  width: 100vw;
  top: 0;
  backdrop-filter: blur(10px);
  height: 100%;
  background-color:rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 10;
  right:0;
 }
 .hs-200 {
  height: 100px !important;
  width: 100%;
  margin-top: 0 !important;
  position: relative !important;
  /* padding-bottom: 50px !important; */
  overflow: scroll;
 }
 .add-container {
  height: 100vh;
  width: 30%;
  top: 0;
  background-color: #fff;
  position: fixed;
  right: 0;
 }
 .w-50 {
  width: 40% !important;
 }
 .in-ov-scroll {
  height: 100vh !important;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
 }
 .pop-up-modal {
  width: 30%;
  padding-bottom: 50px;
  background-color: #fff;
  margin-left: 35%;
  margin-top: 10%;
  position: relative;
  float: left;
 }
 .pd-5 {
  padding: 5px;
  border-radius: 30px;
 }
 .img-container {
  width: 100px !important;
  height: 100px !important;
  padding: 5px;
 }
 .upload-cat-img-container {
  width: 70%;
  height:200px;
  font-size: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  overflow: hidden;
  background-color: #f3f3f3;
 }
 .upload-cat-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
 }
 .scarf-1 {
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  z-index: 10;
  position: absolute;
  top: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* background-color:rgba(0, 0, 0, 0.1); */
 }

 .table-con {
  width:100%;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
 }
 .table-scroll-con {
  min-width:calc((150px * 6) + 44px);
  position: relative;
  min-height: 100%;
 }
 .sn {
  width: 30px;
  position: relative;
  float: left;
  display: inline-block;
  height:30px;
  background-color: #FF9C33;
  color: white;
  font-size: 10px;
  line-height: 30px;
  text-indent: 10px;
  font-weight: bold;
  /* margin-top: -1px; */
  border-right: solid 0.5px white;
  border-left: solid 0.5px white;
 }
 .sd {
  background-color:white;
  font-weight: normal !important;
  color:#404040;
  text-indent: 0px !important;
  border: solid 0.5px #eee !important;
 }
 .table-header {
  font-weight: bold;
  width: 128.3px;
  height: 30px;
  position: relative;
  float: left;
  border-right: solid 0.5px white;
  border-left: solid 0.5px white;
  display: inline-block;
  line-height: 30px;
  text-indent: 10px;
  /* justify-content: center; */
  font-size: 10px;
  color: white;
  background-color: #FF9C33;
 }
 .table-body {
  width: 128.3px;
  height: 30px;
  overflow: hidden;
  position: relative;
  float: left;
  border: solid 1px #eee;
  display: inline-block;
  line-height: 30px;
  text-indent: 10px;
  background-color: #fff;
  /* justify-content: center; */
  font-size: 10px;
 }

 .t-body:hover .table-body {
  background-color:#aaa !important;
  color: white;
  transition: .3s ease-in-out;
 }
 /* .t-body:hover .my-btn-sm{
  background-color:#aaa !important;
  color: white;
  transition: .3s ease-in-out;
 } */
 .my-bottom-10 {
  padding-bottom: 10px;
 }
 .search-input {
  width: 68%;
  background-color: #aaaaaa5f;
  height: 30px;
  margin-left:5%;
  text-indent: 20px;
  font-family: monR;
  border: unset;
  position:absolute;
  border-radius: 30px;
 }
 .bg-faded {
  background-color: #f2f2f2;
 }
 .mgl-5 {
  margin-left: 2px;
 }
 .mgt-10 {
  display: inline-block;
  margin-top: 2px;
  height: 8px !important;
  line-height: 8px !important;
  margin-left: 2px !important;
 }
 .unset-indent {
  text-indent: unset !important;
 }
 .width-100 {
  width: 101px !important;
 }
 .not-avail {
  background-color: red !important;
 }
 .display-varients-con {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  overflow-y: scroll;
  overflow-x: unset !important;
  position: relative;
  float: left;
  /* background: #000; */
 }
 .v-h {
  text-indent: 5px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 10px !important;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08);
 }
 .var-con {
  /* display: inline-flex; */
  width:100%;
  height: 20px;
  /* padding-bottom: 10px; */
  background-color: red;
 }
 .select {
  background-color: transparent;
  border: unset;
  font-family:Quest;
  display: inline-block;
  width: 100px !important;
  text-transform: uppercase;
  color:#404040;
  background-color: #aaaaaa25;
  padding: 2px;
  /* font-size: 9px !important; */
 }
 .rad-unset {
  border-radius: unset !important;
 }
 .t-h {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
  font-size: 9px;
  overflow: hidden;
  height: 20px !important;
  display: inline-flex;
  justify-content: center;
  align-items: center;
 }
 .z-500 {
   z-index: 500 !important;
 }



















 .cat-img-container {
  width: 90%;
  border-radius: 10px;
  /* margin-left: 5%; */
  background-color: #f3f3f3 !important;
  height:150px;
  cursor: pointer;
  position: relative;
  margin-top: 1px;
  float: left;
  border: solid 1px #eee;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
  transition: 1s;
  overflow: hidden !important;
 }
 .loader-text {
  display: inline-block;
  width: 100px;
  height: 10px;
  /* background-color:#b4acac82; */
 }

 .bg-faded {
  background-color:#f3f3f3cf;
 }
 .my-mother {
  width: 100%;
  position: relative;
  float: left;
 }
 .anchors {
  padding: 0.5rem 1.6rem;
  width: max-content;
  display: inline-block;
  cursor: pointer;
  font-family: monR;
  border: unset;
  border-radius: 3px;
  font-weight:400px;
  /* margin-left: 5px; */
}
.my-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color:rgba(0, 0, 0, 0.5);
  z-index: 4000;
 }

h1 {
  font-size: 1.5rem;
}

.mg-5 {
  margin-left: 5px;
 }
 .mg-10 {
  margin-left: 10px;
 }
 .pd-10 {
  padding: 10px;
  /* font-size: 20px; */
 }
 .bd-bottom {
  padding-bottom: 2px;
  border-bottom:solid 1px #f3f3f3c2;
 }
 .bd-bottom-bold {
  padding-bottom: 10px;
  border-bottom:solid 1px rgba(0, 0, 0, 0.296);
 }




 .side-bar {
  height: 100vh;
  position:fixed;
  width: 5%;
  display:inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #FF9C33;
 }
 .side-bar-icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding: 20px;
  /* background-color: #fff; */
  font-size: 30px;
  color: white;
 }
.das-params-con{
  width:calc(8.33% * 3.2);
  padding: 20px;
  background-color:white;
  border-radius: 10px;
  margin-left: 20px;
  position: relative;
  float: left;
  cursor: pointer;
  display: inline-block;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
}
.das-params-con:first-child {
  margin-left: 0px !important;
}
.bd-r-active {
  border-left: solid 5px lightgreen;
}
.bd-r-reviewing {
  border-left: solid 5px #FF9C33;
}
.bd-r-declined {
  border-left: solid 5px red
}
.color-green {
  color: lightgreen;
}
.color-yellow {
  color: #FF9C33;
}
.loader-div {
 width: 100%;
 height: 100vh;
 position:fixed;
 z-index: 5000;
 text-align: center;
 background-color: #fff;
 align-items: center;
 justify-content: center;
}
.input-1 {
  width: 100%;
  display: inline-block;
  /* background-color: #f3f3f3; */
  text-transform: capitalize;
  height: 40px;
  color: black !important;
  border-radius: 5px;
  /* font-weight: bold; */
  border: solid 1px #aaaaaaa9;
  text-indent: 10px;
  font-family:monR;
  padding: 0;
}
.input-1:focus {
  border-color:blue;
}
.my-area {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  resize: unset;
  padding: 10px;
  text-transform: capitalize;
  display:block;
  border: unset;  border: solid 1px #aaaaaaa9;
  text-indent: 10px;
  /* background-color: #f3f3f3; */
 }
 .add-pic {
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 4px;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  background-color:white;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
 }
 .add-pic img {
  width: 100%;
  height: 100%;
  object-fit: contain;
 }
 .unset-tx {
  text-transform: unset !important;
 }
.scarf{
  position:absolute;
  width: inherit;
  display: inline-flex;
  align-items:center;
  justify-content: center;
  height:inherit;
  background-color:rgba(0, 0, 0, 0.5);
  /* z-index: 2; */
}
.ppt-img-container{
  width: 100%;
  height: 100px;
  overflow: hidden;
}
.ppt-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page-icon {
  display: inline-block;
  width: 100px;
  height: 100px;
  /* background-color:red; */
}
.empty {
  /* background-image: url(images/icons8-empty-64.png); */
  background-size: contain;
  background-position:center;
}
.floating-container {
  position:fixed !important;
  z-index: 3;
  padding-bottom: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.my-b-shadow {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
 }
 .search-con {
  width:99%;
  /* padding: 0.2rem; */
  background-color:#f3f3f3 !important;
  border-radius: 20px;
  display: block;
  position: relative;
  float:left;
  /* box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1); */
  /* display:inline-grid; */
  /* justify-content: center; */
}
.search-con span {
  display:inline-flex;
  align-items:center;
  justify-content: center;
  width:15%;
  height: 40px;
  float: left;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  color: white !important;
  background-color:#f3f3f3;
}
.search-con input {
  display: inline-block;
  width: 85%;
  float: left;
  position: relative;
  padding: unset !important;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 40px;
  background-color:transparent;
  /* margin-left:9px; */
  border: unset !important;
  text-indent: 15px;
  
}
.filter-opt-con {
  position:fixed !important;
  height: 100vh;
  right: 0;
  top: 0;
  background-color: #fff;
}
.in-ov-scroll  {
  overflow: scroll;
  height: 500px !important;
}
.rev-img-con {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.rev-img-con img{
  width: 100%;
  height: auto;
}
.bg-green {
  background-color:lightgreen;
}
.bg-color-code-3 {
  background-color:rgba(144, 238, 144, 0.407);
}
.color-code-3 {
  color: green;
}